* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --font-body: "Roboto", sans-serif;
  --font-headline: "Monteserrat", sans-serif;
  /* colors */
  --primary-color: #0d3b66;
  --secondary-color: #faf0ca;
  --accent-color1: #f95738;
  --accent-color2: #ee964b;
  --accent-color3: #f4d35e;
  /* sizes */
  --font-base: 18px;
  --small-font: 0.8em;
  --large-font: 1.2em;
}

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: var(--secondary-color);
}

/*header*/
header {
  background-color: #031729;
  padding: 40px;
  position: relative;
  color: white;
  transition: margin-left 0.5s;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  width: 100%;
}

header h1 {
  font-size: 5vw;
  max-width: 100%;
  letter-spacing: 5px;
  margin-left: 50px;
}

.logo {
  width: 8vw;
  height: auto;
}

.menu-toggle {
  position: fixed;
  top: 20px;
  left: 20px;
  background-color: var(--primary-color);
  color: white;
  border: none;
  padding: 10px;
  font-size: 20px;
  cursor: pointer;
  z-index: 2;
}
/*main*/
main {
  transition: margin-left 0.5s;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
  padding: 1rem;
}

.sidenav {
  height: 100%;
  width: 250px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: var(--primary-color);
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  transform: translate(-250px);
}

.sidenav ul {
  list-style-type: none;
}

.sidenav.open {
  transform: translateX(0);
}

.sidenav ul li a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: white;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #ee964b;
}

.sidenav .active a {
  color: #f4d35e;
}

/*home page featured recipes*/
.featured-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  padding: 1rem;
  margin: 0 auto;
}

.featured-item {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 1rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.featured-item img {
  width: 100%;
  height: 600px;
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 1rem;
}

.featured-item h2 {
  font-size: 1.5rem;
  margin: 0.5rem 0;
}

.featured-item p {
  font-size: 1rem;
  margin: 0.5rem 0;
  color: var(--primary-color);
}

.featured-item a {
  display: inline-block;
  padding: 0.5rem 1rem;
  text-decoration: none;
  background-color: var(--accent-color1);
  color: white;
  transition: background-color 0.2s ease-in-out;
}

.featured-item a:hover {
  background-color: var(--accent-color2);
}
/*search*/
.search-container {
  background-color: var(--primary-color);
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.2);
}
form input[type="text"],
form input[type="password"],
form input[type="email"] {
  flex-grow: 1;
  margin-right: 10px;
  display: block;
  width: 100%;
  padding: 1rem;
  box-sizing: border-box;
  border: 1px solid #dddddd;
  outline: none;
  background: #eeeeee;
  margin-bottom: 1rem;
  transition:
    background 0.2s,
    border-color 0.2s;
}

form input[type="text"],
form input[type="password"],
form input[type="email"],
button[type="submit"] {
  font-size: 18px;
  padding: 10px;
  border-radius: 4px;
}

form button[type="submit"] {
  background-color: var(--accent-color2);
  color: white;
  cursor: pointer;
  padding: 1rem 2rem;
  font-weight: bold;
  border: none;
  outline: none;
  transition: background-color 0.2s ease-in-out;
}

form button[type="submit"]:hover {
  background-color: #f67809;
}

/* Search results display*/
.recipe-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 1rem;
  padding: 1rem;
}

.recipe-card {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 1rem;
  text-align: center;
  background-color: white;
}

.recipe-card img {
  max-width: 100%;
  min-height: 150px;
  border-radius: 8px;
  object-fit: cover;
}

.recipe-card h3 {
  font-size: 1.2rem;
  margin: 0.5rem 0;
}

.recipe-card a {
  display: block;
  margin-top: 0.5rem;
  text-decoration: none;
  color: #007bff;
}

/* Recipe Details */
.recipe-details {
  border: 1px solid #ddd;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 6rem;
  padding: 6rem;
}

.recipe-details img {
  max-width: 50%;
  border-radius: 8px;
  margin-bottom: 1rem;
}

.recipe-details h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.recipe-details h3 {
  font-size: 1.5rem;
  margin-top: 1.5rem;
}

.recipe-details ul {
  margin-top: 0.5rem;
}

.recipe-details ol {
  margin-top: 0.5rem;
}

/*login*/
.login-container form button,
.signup-container form button {
  width: 100%;
}

.loginSignup-container {
  background-color: var(--primary-color);
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.2);
}

.login-container,
.signup-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 400px;
  max-width: 400px;
  margin: 1rem;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.2);
  background-color: white;
}

form h1 {
  font-size: 45px;
  padding: 10px;
  text-align: center;
}

input[type="email"]:focus,
input[type="password"]:focus {
  border-color: var(--primary-color);
  background: white;
}
/*footer*/
footer {
  background-color: #031729;
  text-align: center;
  color: white;
  padding: 10px;
}

footer {
  transition: margin-left 0.5s;
}

/* Responsive Code */
/* @media screen and (max-width: ) */
@media screen and (max-width: 600px) {
  .header {
    flex-direction: column;
    align-items: center;
  }

  header h1 {
    font-size: 8vw;
    text-align: center;
    margin-left: 0;
  }

  .featured-container {
    grid-template-columns: 1fr;
  }

  .sidenav {
    width: 100%;
    height: 100%;
    padding-top: 20px;
    transform: translate(-100%);
  }

  .sidenav ul {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .sidenav ul li a {
    font-size: 30px;
    padding: 10px;
  }

  .sidenav ul.open {
    transform: translate(0);
  }

  .logo {
    width: 100px;
    margin-bottom: 10px;
  }

  .recipe-details {
    margin: 2rem;
    padding: 2rem;
  }
}
